.App {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.time-container {}

.alarm-container {
    width: 100%;
    padding-left: 50px;
}

.intervals {
    display: flex;
    flex-direction: column;
    gap: 5px 0px;
}

.new-interval {
    padding-top: 20px;
    padding-left: 0px;
    display: inline-block;
}

.alarm-controls {
    display: flex;
    justify-content: center;
    gap: 20px 50px;
}